<p style="color: green"><%= notice %></p>

<%= render @payment_group %>

<div>
  <%= link_to "Edit this payment group", edit_payment_group_path(@payment_group) %> |
  <%= link_to "Back to payment groups", payment_groups_path %>

  <%= button_to "Destroy this payment group", @payment_group, method: :delete %>
</div>
